<div class="measurements">
  <label class="measurement">
    <%= tag.meter min: 0,
                  low: 25,
                  high: 75,
                  optimum: 95,
                  max: 100,
                  value: device.battery_percentage,
                  class: :battery %>
    <%= format_number device.battery_percentage, precision: 0 %>% Battery
  </label>

  <label class="measurement">
    <%= tag.meter min: 0,
                  low: 25,
                  high: 75,
                  optimum: 95,
                  max: 100,
                  value: device.signal_percentage,
                  class: :signal %>
    <%= device.signal_percentage %>% Signal
  </label>
</div>
