<li class="device">
  <%= render :image, uri: device.image_uri %>

  <form action="/devices" method="put" class="page-form">
    <%= render :fields, device:, fields: fields.value, errors: %>

    <div class="form-actions">
      <%= device_save :put, "/devices/#{device.id}" %>
      <%= device_form_cancel "/devices/#{device.id}" %>
    </div>
  </form>
</li>
