<section class="page page-devices">
  <h1>Devices</h1>

  <ul class="columns">
    <li class="label">Label</li>
    <li class="label">Friendly ID</li>
    <li class="label">MAC Address</li>
    <li class="label">Refresh Rate</li>
    <li class="label">Actions</li>
  </ul>

  <ul class="devices">
    <% devices.each do |device| %>
      <%= device.render :device %>
    <% end %>
  </ul>

  <a href="/devices/new"
     class="button button-new"
     hx-get="/devices/new"
     hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
     hx-target=".devices"
     hx-swap="beforeend settle:0.1s">
    New
  </a>
</section>
