<section class="page-devices">
  <header class="page-header">
    <h1 class="label">Devices</h1>

    <div class="actions">
      <button class="popover-trigger" popovertarget="popover-shortcuts">⌨️</button>

      <dialog id="popover-shortcuts" class="popover-content" popover="auto">
        <button class="close" popovertarget="popover-shortcuts" popovertargetaction="hide">
          <span aria-hidden=true>❌</span>
          <span class="screen_reader">Close</span>
        </button>

        <h3 class="label">Keyboard Shortcuts</h3>

        <ul>
          <li><kbd>CONTROL + n</kbd>: New device.</li>
          <li><kbd>CONTROL + s</kbd>: Save device (when within form).</li>
        </ul>
      </dialog>

      <%= device_new %>
    </div>
  </header>

  <ul class="devices">
    <% devices.each do |device| %>
      <%= device.render :device %>
    <% end %>
  </ul>
</section>
