<% content_for :title, "New Device | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><a href="/devices" class="link">Devices</a></li>
      <li class="breadcrumb">New</li>
    </ul>
  </header>

  <div class="page-body">
    <figure class="site-figure">
      <%= render :image, uri: assets["setup.svg"]%>
    </figure>

    <form action="/devices" method="post" class="page-form">
      <%= render :fields, device:, fields: fields.value, errors: %>

      <div class="form-actions">
        <%= render "save_button", verb: :post, path: "/devices" %>
        <%= render "cancel_link", path: "/devices" %>
      </div>
    </form>
  </div>
</section>
