<li class="device" hx-ext="remove">
  <%= render :image, uri: "/assets/images/setup/logo.bmp" %>

  <form action="/devices" method="post" class="page-form">
    <%= render :fields, device:, fields: fields.value, errors: %>

    <div class="form-actions">
      <%= device_save :post, "/devices" %>
      <%= device_form_remove %>
    </div>
  </form>
</li>
