modules = ["ruby-3.2", "web", "bash"]
run = "overmind start --port-step 10 --can-die assets,migrate"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "overmind start --port-step 10 --can-die assets,migrate"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 1671903
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle install --quiet"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle exec puma --config ./config/puma.rb"
