<ul class="links">
  <li><a href="https://usetrmnl.com" class="link">TRMNL</a></li>
  <li><a href="https://docs.usetrmnl.com/go/diy/byos" class="link">Guides</a></li>
  <li><a href="https://help.usetrmnl.com" class="link">Support</a></li>
  <li>
    <ul class="social">
      <li>
        <a href="https://www.youtube.com/@useTRMNL" class="icon">
          <%= image_tag "icons/youtube.svg" %>
        </a>
      </li>

      <li>
        <a href="https://github.com/usetrmnl/byos_hanami" class="icon">
          <%= image_tag "icons/github.svg" %>
        </a>
      </li>
    </ul>
  </li>
</ul>
