<ul class="links">
  <li><a href="https://usetrmnl.com" class="link">TRMNL</a></li>
  <li><a href="https://docs.usetrmnl.com/go/diy/byos" class="link">Guides</a></li>
  <li><a href="https://help.usetrmnl.com" class="link">Support</a></li>
  <li><a href="https://github.com/usetrmnl/byos_hanami" class="link">Source</a></li>
</ul>

<ul class="links">
  <li>Ruby <%= RUBY_VERSION %></li>
  <li>Hanami <%= Hanami::VERSION %></li>
</ul>
