<nav class="navigation">
  <ul class="list">
    <li>
      <a href="https://usetrmnl.com" class="link">
        <%= tag.img src: assets["logo/salmon.svg"], alt: "Logo", width: 30, height: 30 %>
      </a>
    </li>
    <li><a href="/" class="link">Terminus</a></li>
  </ul>

  <ul class="list">
    <li><a href="/devices" class="link">Devices</a></li>
  </ul>
</nav>
