<header class="pico">
  <nav>
    <ul>
      <li><strong>TRMNL</strong></li>
    </ul>

    <ul>
      <li><a href="/devices">Devices</a></li>
    </ul>
  </nav>
</header>

<main class="page-devices">
  <h1>Dashboard</h1>

  <p>Welcome to the Build Your Own Server (BYOS) application where you can customize and expand upon what's provided here to your hearts content. Anything is possible. Enjoy!</p>

  <p>To start, visit <a href="/devices">Devices</a> to configure, connect, and maintaining your own devices.</p>
</main>
