<section class="page-dashboard">
  <header class="page-header">
    <h1 class="label">Dashboard</h1>
  </header>

  <div class="widgets">
    <fieldset class="box">
      <legend class="label">Devices</legend>

      <ul class="list">
        <% devices.each do |device| %>
          <%= tag.li device.label %>
        <% end %>
      </ul>
    </fieldset>

    <fieldset class="box">
      <legend class="label">IP Addresses</legend>

      <ul class="list">
        <% ip_addresses.each do |ip_address| %>
          <%= tag.li ip_address %>
        <% end %>
      </ul>
    </fieldset>
  </div>
</section>
