<% render "shared/title", text: "Screens" %>

<section class="page-screens">
  <header class="page-header">
    <h1 class="label">
      Screens

      <button class="popover-trigger" popovertarget="popover-shortcuts">
        <%= image_tag "icons/info.svg", width: 20, height: 20, loading: :lazy %>
      </button>
    </h1>

    <dialog id="popover-shortcuts" class="popover-content" popover="auto">
      <button class="close" popovertarget="popover-shortcuts" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">Overview</h3>

      <p>Screens are the final artifacts produced when proxying, creating images via API requests, and so forth. Use these screens to add to your playlists for display on your device(s). Once created, you can modify these screens to alter what is displayed on your device(s).</p>

      <p>All screens must use unique labels and names so you can distinguish between them. When proxying, your screen name ensures the screen of the same name is updated locally to prevent duplication.</p>

      <p>Finally, some screens have names that start with the <code>terminus_</code> prefix. These are special system screens provided for you automatically when a device sleeps, wakes, errors, etc. You can customize these screens and also delete them but be aware they might reappear.</p>

      <h3 class="label">Search</h3>

      <p>You can fuzzy search by screen label using partial or full label.</p>

      <h3 class="label">Keyboard Shortcuts</h3>

      <ul>
        <li><kbd>CONTROL + n</kbd>: New screen.</li>
        <li><kbd>CONTROL + s</kbd>: Save screen (when within form).</li>
      </ul>
    </dialog>

    <div class="actions">
      <%= render :search, query: %>

      <a href="/screens/new"
         class="button-accept"
         hx-get="/screens/new"
         hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
         hx-target="closest .page-screens"
         hx-swap="outerHTML"
         hx-push-url="true">
        New
      </a>
    </div>
  </header>

  <% if screens.any? %>
    <ul class="screens">
      <% screens.each do |screen| %>
        <%= screen.render :screen %>
      <% end %>
    </ul>
  <% else %>
    <div class="screens">
      <%= render "shared/empty", message: "No screens found." %>
    </div>
  <% end %>
</section>

