<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title><%= content_for :title %></title>

    <meta charset="utf-8">
    <meta name="description" content="A Hanamismith skeleton application.">
    <meta name="author" content="Hanamismith">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link title="Terminus: Favicon"
          rel="icon"
          href="https://usetrmnl.com/favicon.ico"
          sizes="32x32">

    <%= favicon_tag app_assets["logo/salmon.svg"],
                    title: "Terminus: Icon",
                    rel: :icon,
                    type: "image/svg+xml" %>

    <link title="Terminus: Apple Icon"
          rel="apple-touch-icon"
          href="https://usetrmnl.com/images/brand/icon--brand.png"
          type="image/png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
