<%= scope(:popover_content, name: :api_key, label: "API Key").render do %>
  <p>Used for API requests to authenticate between server and device.</p>

  <p>💡 When proxying is enabled, this value must be identical to your <a href="https://usetrmnl.com/devices">device</a>'s API Key associated with your hosted account. Otherwise, you won't be able to authenticate and proxy images onto your device.</p>
<% end %>
