<%= scope(:popover_content, name: :firmware_beta, label: "Firmware Beta").render do %>
  <p>When enabled, allows your device to be automatically updated when Beta (unstable) firmware versions are released.</p>

  <p><em>This feature is not fully supported at the moment but will be in the future.</em></p>
<% end %>
