<%= scope(:popover_content, name: :firmware_update, label: "Firmware Update").render do %>
  <p>When enabled, allows your device to be automatically updated when new firmware versions become available.</p>
<% end %>
