<%= scope(:popover_content, name: :friendly_id, label: "Friendly ID").render do %>
  <p>Provides a way to uniquely identify your device.</p>

  <p>💡 When proxying is enabled, ensure this value is identical to your <a href="https://usetrmnl.com/devices">device</a>'s Friendly ID  associated with your hosted account. Otherwise, having a different but unique ID won't hurt anything.</p>
<% end %>

