<%= scope(:popover_content, name: :friendly_id, label: "Friendly ID").render do %>
  <p>Provides a way to uniquely identify your device.</p>

  <p>💡 When proxying is enabled, it can be helpful make this value identical to your <a href="https://usetrmnl.com/devices">device</a>'s Friendly ID  associated with your hosted account for quick reference. Otherwise, leaving the IDs mismatched won't hurt anything.</p>
<% end %>

