<%= scope(:popover_content, name: :image_timeout, label: "Image Timeout").render do %>
  <p>The time, in seconds, to fetch the image before timing out (useful if you are making an external request for an image).</p>
<% end %>
