<%= scope(:popover_content, name: :mac_address, label: "MAC Address").render do %>
  <p>Uniquely identifies your device when communicating over the network. Must consist of six segments, be capitalized, and only use hexadecimal characters. Example: <code>A1:B2:C3:D4:E5:F6</code>.</p>
<% end %>
