<%= scope(:popover_content, name: :sleep_start, label: "Sleep Start").render do %>
  <p>Allows you to set when your device should go to sleep. Requires corresponding stop time.</p>

  <p>💡 When editing this field, use <kbd>TAB</kbd> + <kbd>DELETE</kbd> to tab through and delete all values to clear this out.</p>
<% end %>
