<div class="show_item">
  <img src="<%= item.screen.image_uri %>" class="image" loading="lazy" width="100" height="60">
  <%= link_to item.screen.label, routes.path(:screen, id: item.screen.id) %>
</div>
