name: "terminus-development"

services:
  web:
    init: true
    build:
      context: .
      target: development
    environment:
      API_URI: ${API_URI}
      DATABASE_URL: postgres://${PG_USER}:${PG_PASSWORD}@database:5432/${PG_DATABASE}
    ports:
      - "${HANAMI_PORT}:${HANAMI_PORT}"
    volumes:
      - ".:/app"
    command: bin/docker/entrypoint-dev
    depends_on:
      database:
        condition: service_healthy
    networks:
      - terminus-network

  database:
    image: postgres:17.5
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    ports:
      - "${PG_PORT}:${PG_PORT}"
    volumes:
      - database-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}"]
      interval: 1s
      timeout: 2s
      retries: 5
      start_period: 2s
    networks:
      - terminus-network

networks:
  terminus-network:

volumes:
  database-data:
