.button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.button-new {
  align-self: flex-start;
  background-color: hsl(102, 73%, 28%);
  color: white;
  text-decoration: none;
}

.link-cancel {
  color: hsl(4, 73%, 43%);
}

.popover-trigger {
  cursor: help;
  border: none;
  background: none;
}

.popover-content {
  &::backdrop {
    backdrop-filter: brightness(60%);
  }

  border-radius: 0.5rem;
  padding: 2rem;

  .label {
    text-align: center;
  }

  .close {
    background: none;
    border: none;
    cursor: pointer;
    filter: grayscale(100);
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
  }

  .screen_reader:not(:focus):not(:active) {
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  .label {
    margin: 0;
  }
}

.page-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .group {
    border: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .key {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 0.5rem;
  }

  .value {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--site-grey);
    padding: 0.3rem;
  }

  .form-actions {
    display: flex;
    align-items: center;
  }

  .accept, .decline {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
  }

  .accept {
    color: var(--site-blue);
  }

  .decline {
    color: var(--site-red);
  }

  .error {
    .value {
      border: 0.15rem solid var(--site-red);
    }

    .message {
      color:  var(--site-red);
      font-size: 0.9rem;
      padding: 0.2rem 0 0.1rem 0.3rem;
      margin: 0;
    }
  }
}
