.page-dashboard {
  .widgets {
    display: grid;
    gap: 2rem;
    grid-template: 1fr / 1fr;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (min-width: 825px) {
      grid-template: 1fr / repeat(auto-fit, minmax(0, 1fr));
    }
  }

  .box {
    background-color: var(--site-white);
    border-radius: 0.5rem;
    border-width: 0rem;
    box-shadow:
      0.7px 0.7px 0.7px rgba(0, 0, 0, 0.022),
      1.7px 1.7px 1.7px rgba(0, 0, 0, 0.031),
      3.5px 3.5px 3.5px rgba(0, 0, 0, 0.039),
      7.3px 7.3px 7.3px rgba(0, 0, 0, 0.048),
      20px 20px 20px rgba(0, 0, 0, 0.07)
    ;
  }

  .label {
    display: flex;
    font-weight: 400;
  }
}
