.page-dashboard {
  .widgets {
    display: grid;
    gap: 2rem;
    grid-template: 1fr / 1fr;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (min-width: 825px) {
      grid-template: 1fr / repeat(auto-fit, minmax(0, 1fr));
    }
  }

  .box {
    background-color: var(--site-white);
    border-radius: 0.5rem;
  }

  .label {
    font-weight: 400;
  }
}
