:where(html, body) {
  overscroll-behavior: none;
}

:where(html) {
  accent-color: var(--site-red);
  background-color: oklch(from var(--site-lightgrey) l c h / 0.2);
  font-family: var(--site-font-family);
  scrollbar-color: var(--site-white) var(--site-red);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

:where(h1, h2) {
  font-weight: 400;
  font-size: 2.75em;
}

:where(body) {
  margin: 0;
  padding: 0;

  ::selection {
    background-color: var(--site-orange);
    color: var(--site-white);
  }
}

:where(a) {
  color: var(--site-orange);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

:where(code) {
  background-color: var(--site-darkgrey);
  border-radius: 0.3rem;
  color: var(--site-white);
  font-size: 0.95rem;
  padding: 0.1rem 0.3rem;
}

:where(li) {
  margin-bottom: 0.4rem;
}

:where(img) {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

:where(kbd) {
  background-color: oklch(from var(--site-lightgrey) l c h / 0.1);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--site-lightgrey);
  color: var(--site-black);
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.1rem 0.3rem;
  white-space: nowrap;
}

:where(dd) {
  margin-inline-start: 0px;
}

:where(dl) {
  margin-block-start: 0px;
}
